.intro__list {
    max-width: 690px;
    margin: 33px 0 92px;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .intro__list {
       margin: 33px 0 88px;
       max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__list {
       margin: 33px 0 64px;
       max-width: 288px;
    }
}