.place__paragraph { 
    max-width: 484px;
    margin: 0 0 26px 0;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279x) {
    .place__paragraph {
        max-width: 456px;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        max-width: 352px;
        margin: 0 0 25px 0;
    }
    
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        max-width: 288px;
        margin: 0 0 25px 0;
    }
}
