.cover__overlay {
    text-decoration: none;
    max-width: 1184px;
    min-height: 740px;
    background-image: linear-gradient(rgba(47,44,47,0.3),rgba(47,44,47,0.3)), url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #FFFFFF;
    } 
    .cover__overlay:hover {
        background-image: linear-gradient(rgba(47,44,47,0.8),rgba(47,44,47,0.8)), url(../../../images/cover-trains.jpg);
    }

    @media screen and (max-width: 1279x) {
        .cover__overlay {
            max-width: 1024px;
            min-height: 640px;
        }
    }
    
    @media screen and (max-width: 1023px) {
        .cover__overlay {
            max-width: 768px;
            min-height: 480px;
        }
        
    }
    
    @media screen and (max-width: 767px) {
        .cover__overlay {
            max-width: 320px;
            min-height: 200px;
        }
    }
    