.footer {
    margin: 0 auto 24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279x) {
    .footer {
       max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
      max-width: 720px;
    }
    
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 0 118px 24px 16px;
        max-width: 186px;
        flex-direction: column;
    }
}