.place__url-heading {
    max-width: 456px;
    margin: 0 0 12px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media screen and (max-width: 1023px) {
    .place__url-heading {
        max-width: 352px;
        line-height: 12px;
    }
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        max-width: 288px;
        line-height: 12px;
        align-self: start;
        
    }
}